/* Import FontFamily din Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

// SASS declarare variabile
$primary-color: #006241;
$secondry-color: #d50032;
$extra-color: #d4e9e2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    color: #000;
}
a {
    color: #000;
}
ul {
    list-style-type: none;
}
p {
    margin: 5px 0;
    line-height: 1.7;
}
img {
    max-width: 100%;
}

// Navbar
.Navbar {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: #fff;
    padding: 20px;
    @media (min-width: 960px) {
        padding: 30px;
    }
}
.NavbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.Navbar ul {
    display: flex;
    align-items: center;
}
.Navbar li {
    margin: 0 15px;
    font-weight: bold;
}
.Navbar a {
    color: #000;
    text-decoration: none;
    &:hover {
        color: $primary-color;
    }
}
.LogoImg {
    width: 40px;
    height: 40px;
    @media (min-width: 750px) {
        width: 60px;
        height: 60px;
    }
}
.NavbarLeft {
    text-transform: uppercase;
    flex: 1;
    margin-left: 20px;
    @media (min-width: 960px) {
        margin-left: 30px;
    }
}
.Item {
    display: none;
    @media (min-width: 750px) {
        display: block;
    }
}
.LinkLeft {
    margin-left: -15px;
    @media (min-width: 960px) {
        margin-left: 10px;
    }
}
.LinkLocatie {
    display: flex;
    align-items: center;
}
.LogoLocatie {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

// Hamburger Menu
.Hamburger {
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.25s;
    @media (min-width: 750px) {
        display: none;
    }
}
.HamburgerTop,
.HamburgerMiddle,
.HamburgerBottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #777;
    transform: rotate(0);
    transition: all 0.5s;
}
.HamburgerMiddle {
    transform: translateY(7px);
}
.HamburgerBottom {
    transform: translateY(14px);
}
.Open .HamburgerTop {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}
.Open .HamburgerMiddle {
    display: none;
}
.Open .HamburgerBottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

// Mobile Menu
.MobileMenu {
    position: fixed;
    top: 85px;
    right: 0;
    background: #fff;
    color: #000;
    width: 80%;
    height: 100%;
    padding: 30px;
    box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%), inset 0 4px 2px -2px rgb(0 0 0 / 7%);
    transition: all 0.3s;
}
.MobileMenu img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.MobileList {
    line-height: 3;
    border-bottom: 1px solid #777;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.MobileMenu a {
    text-decoration: none;
    font-size: 20px;
    &:hover {
        color: $primary-color;
    }
}
.MobileMenu div {
    margin-top: 20px;
}
.MobileMenu div a {
    display: flex;
    align-items: center;
    font-size: 1px;
}
.Hidden {
    transform: translateX(100%);
}
.NoScroll {
    overflow: hidden;
}
.MobileSpan {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
// Buttons
.Btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.BtnDarkOutline {
    border-color: #000;
    color: #777;
    &:hover {
        background: rgba(0, 0, 0, 0.06);
    }
}
.BtnLightOutline {
    border-color: #fff;
    color: #fff;
    margin-bottom: 20px;
    &:hover {
        background: rgba(0, 0, 0, 0.06);
    }
}
.BtnDark {
    background: #000;
    color: #fff;

    &:hover {
        background: #333;
    }
    @media (min-width: 750px) {
        margin-right: -15px;
    }
}

// Background
.BgPrimary {
    background: $primary-color;
    color: #fff;
}
.BgSecondary {
    background: $secondry-color;
    color: #fff;
}
.BgExtra {
    background: $extra-color;
    color: #000;
}
.BgDark {
    background: #222;
    color: #000;
}

// Text Styles
.TextCenter {
    text-align: center;
}
.TextXl {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 600;
    padding-top: 25px;
    @media (min-width: 960px) {
        font-size: 50px;
    }
}

.TextLg {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.TextMd {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 20px;
    & a {
        color: #fff;
    }
    @media (min-width: 960px) {
        font-size: 24px;
    }
}
.TextSm {
    font-size: 19px;
    margin-bottom: 20px;
}

// Box Styles
.Box {
    margin-bottom: 30px;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}
.BoxInner {
    max-width: 700px;
    margin: 0 auto;
}
.BoxText {
    max-width: 500px;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    margin: 0 auto;
    & .Btn {
        margin-top: 20px;
    }
}
.BoxF .BoxText {
    max-width: 600px;
    height: 330px;
}

// Grid Styles
.GridCol2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 750px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
.GridReversed :first-child {
    order: 0;
    @media (min-width: 750px) {
        order: 2;
    }
}

// Footer & Social
.Footer {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.FooterContainer {
    max-width: 1440px;
    margin: 0 auto;
    @media (min-width: 750px) {
        text-align: left;
    }
}
.Social {
    display: flex;
    align-items: center;
    margin: 20px;
    & a {
        text-decoration: none;
        margin-right: 10px;
    }
    @media (min-width: 1440px){
        margin-left: 0;
    }
}
.FooterLogoImg {
    width: 32px;
    height: 32px;
}
.Divider {
    max-width: 1440px;
    margin: 0 auto;
    height: 1px;
    background: #ccc;
    margin: 40px auto;
}
.Divider2 {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 40px auto;
}

// Footer Content
.FooterContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-top: 40px;
    @media (min-width: 1440px){
        margin-left: 0;
    }
}
.FooterContent2 {
    margin: 20px;
    text-align: left;
    & p {
        margin: 20px 0;
        font-size: 14px;
    }
    @media (min-width: 1440px){
        margin: 0;
    }
}
.FooterTitle {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    @media (min-width: 750px) {
        font-size: 18px;
    }
}
.Arrow {
    cursor: pointer;
    width: 18px;
    height: 18px;
    transform: rotate(90deg);
    &.Active {
        transform: rotate(-90deg);
        transition: 0.3s all;
    }
    @media (min-width: 1020px) {
        display: none;
    }
}
.Button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    background: none;
}
.Text {
    display: none;
    &.Active {
        display: block;
    }
    @media (min-width: 1020px) {
        display: block;
    }
}

.SubFooter {
    max-width: 1440px;
    margin: 0 auto;
    @media (min-width: 1020px) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: left;
    }
}

.Text a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 30px;
    color: #777;
    font-size: 14px;
    @media (min-width: 1020px){
        font-size: 16px;
    }
    @media (min-width: 1440px){
        margin-left: 0;
    }
}
